yatd-viewer {
    display: block;

    .grid {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1px;
        overflow: hidden;

        &.zoom {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-gap: 0px;

            > canvas:not(:first-child) {
                display: none;
            }
        }

        > canvas {
            height: 100%;
            width: 100%;
        }
    }
}
